.cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: #4C1EE7;
    margin-bottom: 0.25rem;
    display: block;
}

.cs-title {
    font-size: clamp(1.9375rem, 3.9vw, 3.0625rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: #1E7347;
    position: relative;
}

.cs-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: #807e8f;
}
                            
@media only screen and (min-width: 0rem) {
    #reviews-62 {
        padding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
        margin-top: 60px;
    }
    #reviews-62 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #reviews-62 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #reviews-62 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.25rem;
    }
    #reviews-62 .cs-item {
        list-style: none;
        width: 100%;
        max-width: 25.8125rem;
        margin: 0;
        padding: 0;
    }
    #reviews-62 .cs-img {
        width: 4.25rem;
        height: 4.25rem;
        margin: 0 auto 1rem;
        border-radius: 50%;
        display: block;
    }
    #reviews-62 .cs-name {
        font-size: 1.25rem;
        line-height: 1.2em;
        text-align: center;
        font-weight: 700;
        margin: 0;
        color: #1E7347;
        display: block;
    }
    #reviews-62 .cs-desc {
        font-size: 1rem;
        line-height: 1.5em;
        text-align: center;
        margin: 0 0 1rem;
        color: #807e8f;
        display: block;
    }
    #reviews-62 .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 2vw, 1rem);
        text-align: center;
        line-height: 1.5em;
        margin: auto;
        color: #807e8f;
    }
    #reviews-62 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: #1E7347;
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #reviews-62 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #4C1EE7;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #reviews-62 .cs-button-solid:hover:before {
        width: 100%;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-62 .cs-card-group {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        row-gap: 2.5rem;
    }
    #reviews-62 .cs-item {
        /* we do this so it's stackable. You can add new any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of reviews, they don't stay centered.  They align with their grid lines. If you want 4 reviews in a row, lower the width under 23% to get the desired sizes fit 4 in a row and then stack when you add more*/
        width: clamp(31.5%, 30vw, 32.3%);
    }
}

                                