.offer-container {
  position: absolute;
  top: 15%;
  right: 8%;
}

@font-face {
  font-family: "Blinker";
  src: url("Blinker-ExtraBold.ttf");
}

::selection {
  color: white;
  background: #1E7347;
}

.list-group-item:hover {
  color: #28a745;
}

.drop-area {
  background-color: #DCF1E4;
  height: 500px;
  width: 450px;
  padding: 10px;
  border: 5px dashed green;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.drag-over {
  background-color: #254636;
  border: 5px dashed lime;
  transition: all 0.5s ease-in-out;
}

.dragging {
  opacity: 0.5;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: lime;
  transition: all 0.5s ease-in-out;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 0px;
  width: 0px;
  transition: all 0.2s ease-in;
  overflow: hidden;
}

.hover-button-deselect {
  cursor: pointer;
  border: none;
  margin: 1px;
  border-radius: 8px;
  background: none;
  color: white;
  transition: color 0.3s, transform 0.1s;
}

.hover-button-deselect:hover {
  color: #ee204d;
  margin: 2px;
  transform: scale(1.3);
  border: 0px;
  -webkit-filter: drop-shadow( 0px 0px 4px rgba(244, 194, 194, 1));
  filter: drop-shadow( 0px 0px 4px rgba(244, 194, 194, 1));
}

.heading-home{
  font-family: "Blinker";
  font-size: 60px; 
  color: white;
}

.scroll-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}

.scroll-btn {
  width: 30px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: 2px solid #2FA44D;
  box-shadow: 0px 0px 10px #2FA44D;
  position: relative;
}

.scroll-btn-scroll {
  width: 5px;
  height: 10px;
  border-radius: 10px;
  background-color: #2FA44D;
  box-shadow: 0px 0px 10px #2FA44D;
  animation: scroll_4013 2s linear infinite;
  transform: translateY(40%);
}

.scroll-btn:after {
  content: 'scroll';
  font-size: 10px;
  position: absolute;
  top: 120%;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}


.carousel-slide-container{
  border-radius: 40px;
  background-color: #2FA44D;
  width: 70%;
  margin: auto;
  padding: 20px;
}

/* From Uiverse.io by zjssun */ 
.threed-getstarted-btn {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #2FA44D;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #2FA44D;
  transition: 0.5s ease;
  user-select: none;
}

.threed-getstarted-btn:hover,
.threed-getstarted-btn:focus,
.threed-getstarted-btn:focus svg {
  color: #ffffff;
  background: #2FA44D;
  border: 1px solid #2FA44D;
  text-shadow: 0 0 0px #ffffff, 0 0 0px #ffffff, 0 0 0px #ffffff;
  box-shadow: 0 0 5px #2FA44D, 0 0 20px #2FA44D, 0 0 50px #2FA44D,
    0 0 100px #2FA44D;
}
